<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Create new service</h1>
    <form method="post">
        <label>Name</label>
        <br>
        <input type="text" name="name">
        <hr>
        <label>Yob</label>
        <br>
        <input type="text" name="yob">
        <hr>
        <label>Address</label>
        <br>
        <input type="text" name="address">
        <hr>
        <button type = "Submit"> Submit</button>
    </form>
</body>
</html>