<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
            <div class="bg-dark">
                <div class="tutor-img">
                    <img src="http://via.placeholder.com/296x211">
                </div>
                <div class="tutor-content">
                    <h5 class="tutor-title">Carmelo Ugalde</h5>
                    <span class="tutor-designation">(Designation title)</span>
                    <p>Quisque malesuada nullanec mivarius efficitur. stibulum sollicitudin tortor vellorem.</p>
                </div>
            </div>
            <div class="social-media">
                <span><a href="#"><i class="fa fa-facebook-square"></i></a></span>
                <span><a href="#"><i class="fa  fa-twitter-square"></i></a></span>
                <span><a href="#"><i class="fa   fa-youtube-square"></i></a></span>
                <span><a href="#"><i class="fa  fa-linkedin-square"></i></a></span>
                <span><a href="#"><i class="fa   fa-instagram"></i></a></span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
            <div class="tutor-block">
                <div class="tutor-img">
                    <img src="http://via.placeholder.com/296x211">
                </div>
                <div class="tutor-content">
                    <h5 class="tutor-title">LAUREL FOSTER</h5>
                    <span class="tutor-designation">(Designation title)</span>
                    <p>Maecenas ut tortor doloestibulum lacinia orci semplacerat convallis nrum vitae. </p>
                </div>
            </div>
            <div class="social-media">
                <span><a href="#"><i class="fa fa-facebook-square"></i></a></span>
                <span><a href="#"><i class="fa  fa-twitter-square"></i></a></span>
                <span><a href="#"><i class="fa   fa-youtube-square"></i></a></span>
                <span><a href="#"><i class="fa  fa-linkedin-square"></i></a></span>
                <span><a href="#"><i class="fa   fa-instagram"></i></a></span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
            <div class="tutor-block">
                <div class="tutor-img">
                    <img src="http://via.placeholder.com/296x211">
                </div>
                <div class="tutor-content">
                    <h5 class="tutor-title">BARBARA GILLUM</h5>
                    <span class="tutor-designation">(Designation title)</span>
                    <p>Asem luctus libero lerdum viverrasem faucibus nontiam vel fringillaeed euarcu samo.</p>
                </div>
            </div>
            <div class="social-media">
                <span><a href="#"><i class="fa fa-facebook-square"></i></a></span>
                <span><a href="#"><i class="fa  fa-twitter-square"></i></a></span>
                <span><a href="#"><i class="fa   fa-youtube-square"></i></a></span>
                <span><a href="#"><i class="fa  fa-linkedin-square"></i></a></span>
                <span><a href="#"><i class="fa   fa-instagram"></i></a></span>
            </div>
            
        </div>
        
    </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt30">
            Created by <a href="https://goo.gl/YXdWkj" target="_blank">easetemplate</a>
            </div></div>
    </div>
</body>
</html>