<nav class="navbar navbar-toggleable-md navbar-light bg-beach">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="font-chela fs-120 mr-10 text-light" href="#">Tổng hợp các mặt hàng Hải Sản</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('index') }}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{{ url_for('signin') }}">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{{ url_for('logout') }}">Log out</a>
          </li>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ul>
      
    </div>
  </nav>
  