<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Xin chào đồng dâm</h1>
    <form method="POST">
        <label>Username: </label>
        <input type="text" name="username">
        <br><br>
        <label>Password: </label>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Đăng nhập">
        <a href="{{ url_for('signin')}}"> 
                <button type='button'>Đăng kí</button>
    </form>
</body>
</html>