<div class="font3">Các gói dịch vụ</div>
<div class="flex-box3">
    <div class="flex-box31">
        <div class="mbox1 bg-lightgray">
            <div class=" font4">Gói cơ bản</div>
        </div>
        <div class="mbox2">
            <div class="mt-3">Dẫn bạn về ra mắt</div>
            <div>Ăn cơm cùng gia đình</div>
            <div class="mr-4 text-secondary">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</div>
            <div class="mr-4 mb-3 text-secondary">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</div>
        </div>
        <div class="mbox3">
                <p class="mt-3 ml-30px btn btn-dark">
                    <i class="mr-2 fas fa-heart"></i> 
                    Tìm hiểu thêm
                </p>
        </div>
    </div>
    <div class="flex-box31">
        <div class="mbox1 bg-lightgray2">
                <div class=" font4">Gói cơ bản</div>
            </div>
            <div class="mbox2">
                <div class="mt-3">Dẫn bạn về ra mắt</div>
                <div>Ăn cơm cùng gia đình</div>
                <div>Cho phép nắm tay thể hiện quan tâm</div>
                <div class="mb-3 mr-4 text-secondary">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</div>
            </div>
            <div class="mbox3">
                    <p class="mt-3 ml-30px btn btn-dark">
                        <i class="mr-2 fas fa-heart"></i> 
                        Tìm hiểu thêm
                    </p>
            </div>
    </div>
    <div class="flex-box31">
        <div class="mbox1 bg-dark">
                <div class=" font4">Gói cơ bản</div>
            </div>
            <div class="mbox2">
                <div class="mt-3">Dẫn bạn về ra mắt</div>
                <div>Ăn cơm cùng gia đình</div>
                <div>Cho phép nắm tay thể hiện quan tâm</div>
                <div class="mr-4">Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</div>
                <div class="text-primary">Và nhiều ưu đãi bất ngờ khác</div>
            </div>
            <div class="mbox3">
                    <p class="mt-3 ml-30px btn btn-dark">
                        <i class="mr-2 fas fa-heart"></i> 
                        Tìm hiểu thêm
                    </p>
            </div>
    </div>
</div>
