<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>BMI CALCULATOR</h1>
    <h3>Hello your BMI is: {{ bmi_value }}</H3>
    <h3>Your condition is: {{ condition }}
        {% if bmi < 16 %}
        Severely underweight

        {% elif bmi < 18 %}
        Underweight
    
        {% elif bmi < 25 %}
        Normal
    
        {% elif bmi < 30 %}
        Overweight
    
        {% else %}
        Obese

        {% endif %}
    </h3>

</body>
</html>