<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3 class="text-red" class="upper-case">Daily shouts</h3>
    <h1 class="upper-case">The idea of someone</h1>
    <span class="font-weight-bold">By Olivia de Recat</span>
    <span>December 26, 2017</span>
</body>
</html>