<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Video detail</h1>
    <a href="{{url_for('index')}}">Home</a>
    <br>
    <iframe 
        width="854"
        height="480" 
        src="https://www.youtube.com/embed/{{youtube_id}}" 
        frameborder="0" 
        allow="autoplay; encrypted-media" 
        allowfullscreen>
    </iframe>
</body>
</html>