<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xin chào ạ</title>
    {% include 'meta-data.html' %}
</head>
<body>
    {% include 'homepage/navigation.html' %}
    {% include 'homepage/carousel.html' %}
    <a href = "{{ url_for('search')}}">Hãy chạm vào em đi</a>
    <hr>
    <a href = "{{ url_for('admin')}}">Hãy chạm vào admin đi</a>
</body>
</html>