<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <div class="flex-box">
        <div class="H1">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh </div>
        <div class="H2">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</div>
    </div>
    <div class="flex-box1">
        <div class="box1">
            <div class="font1">
                Bạn là Nam
            </div>
        </div>
        <div class="box2">
            <div class="font2">
                Bạn là Nữ
            </div>
        </div>
    </div>
</body>
</html>