<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Create new service</h1>
    <form method="post">
        <label>Name</label>
        <br>
        <input type="text" name="name">
        <br>
        <label>Height</label>
        <br>
        <input type="text" name="height">
        <br>
        <label>Yob</label>
        <br>
        <input type="text" name="yob">
        <br>
        <label>Phone</label>
        <br>
        <input type="text" name="phone">
        <br>
        <label>Address</label>
        <br>
        <input type="text" name="address">
        <br>
        <label>Gender:</label>
        <br>
        <input type="radio" name="gender" value=1> Male
        <input type="radio" name="gender" value=0> Female 
        <br>
        <label>Description</label>
        <br>
        <input type="text" name="description">
        <br>
        <label>Measurements</label>
        <br>
        <input type="text" name="measurements">
        <br>
        <button type = "Submit"> Submit</button>
    </form>
</body>
</html>